@import "tailwindcss";
header{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 1109px;
   height: 48px;
}
#chaild-10{
    display: flex;
    margin: auto;
    background-color: aqua;
}

